{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StopVi</title>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <link rel="icon" type="image/x-icon" href=""/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="header-navigation">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="{% static 'img/stopVilogo.gif' %}" class="img-fluid logo"/>
        </div>


        <div class="col-md-8 offset-md-0 ">
            <div class="navbar-top">
                <nav class="row">
                    <button id="toogleButton" class="col btn btn-donate">{% trans 'Меню' %}</button>
                    <a class="col-sm-12 col-md btn nav-btn" href="#"> {% trans 'О НАС' %} </a>
                    <a class="col-sm-12 col-md btn nav-btn" href="#">{% trans 'КАК МЫ РАБОТАЕМ' %}</a>
                    <a class="col-sm-12 col-md btn nav-btn " href="#">{% trans 'ГДЕ МЫ РАБОТАЕМ' %}</a>
                    <a class="col-sm-12 col-md btn nav-btn " href="#">{% trans 'МЕДИА БЛОГ' %}</a>
                    <a class="col-sm-12 col-md btn nav-btn" href="#">{% trans 'ЖИЗНЕННЫЕ ИСТОРИИ' %}</a>
                    <a class="col-sm-12 col-md btn btn-donate" href="#">{% trans 'ПОЖЕРТВОВАТЬ' %}</a>

                </nav>
            </div>
        </div>


        <div class="col-sm-4 offset-sm-1 offset-md-1 col-md-1">
            <div class="lang-group row">

                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <input name="lang" type="submit" class=" col btn btn-lang left" value="EN"/>
                    <input name="lang" type="submit" class="col btn btn-lang right" value="RU"/>
                </form>
            </div>
        </div>
    </div>

</div>

{% block content %}

{% endblock %}
<footer class=" white p-5">

    <div class="row">

        <div class="col-sm-12 col-md">
            <img src="{% static 'img/stopVilogo.gif' %}" alt="Stop Vi Public Foundation Logo"
                 class="img-fluid rounded-circle" width="30%">

            <div class="thin text-left">
                © 2018 All rights reserved.<br>
                Public Foundation “Stop Vi” November 11, 2016<br>
                Register number: 162559-3301-ОФ<br>
                OKPO code: 29760571
            </div>
        </div>

        <div class="col-sm-12 col-md offset-md-4 bb">
            <div class="thin text-right ">
                Public Foundation “STOP Vi”<br>
                Bishkek, Kyrgyzstan<br>
                Jibek – Jolu st. 346<br>
                stopvi.kg@gmail.com
            </div>
            <div class="">
                <a class="d-inline" href="#">
                    <img src="{% static 'img/fb.gif' %}" alt="" class="img-fluid float-right m-1" width="10%">
                </a>
                <a class="d-inline" href="#">
                    <img src="{% static 'img/yt.gif' %}" alt=""
                         class="img-fluid float-right m-1" width="10%">
                </a>
            </div>
        </div>

    </div>

</footer>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>`