{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StopVi</title>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="d-flex mb-3">
    <div class="col mt-2">
        <a href="{% url 'home' %}">
            <img width="90%" src="{% static 'img/stopVilogo.gif' %}" class="img-fluid"/>
        </a>
    </div>

    <div class="col-md-9 mt-1">
        <div class="navbar-top ">
            <nav class="row btn-sm btn-group-sm">
                <div id="toogleButton" class="col btn btn-donate"><img class="img-fluid mr-2" width="10%"
                                                                       src="{% static 'img/menu.gif' %}"> {% trans 'Меню' %}
                </div>
                <a class="col-sm-12 col-md btn nav-btn" href="#about"> {% trans 'О НАС' %} </a>
                <a class="col-sm-12 col-md btn nav-btn" href="#work">{% trans 'КАК МЫ РАБОТАЕМ' %}</a>
                <a class="col-sm-12 col-md btn nav-btn " href="#where">{% trans 'ГДЕ МЫ РАБОТАЕМ' %}</a>
                <a class="col-sm-12 col-md btn nav-btn " href="#media">{% trans 'МЕДИА БЛОГ' %}</a>
                <a class="col-sm-12 col-md btn nav-btn" href="#stories">{% trans 'ЖИЗНЕННЫЕ ИСТОРИИ' %}</a>
                <a class="col-sm-12 col-md btn btn-donate" href="#donate">{% trans 'ПОЖЕРТВОВАТЬ' %}</a>

            </nav>
        </div>
    </div>

    <div class="col mt-1">
        <div class="lang-group btn-group btn-sm">

            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="language" type="submit" class=" col btn-lang left" value="en"/>
                <input name="language" type="submit" class="col btn-lang right" value="ru"/>
            </form>
        </div>
    </div>
</div>



{% block content %}

{% endblock %}
<footer class=" white p-3">

    <div class="row">

        <div class="col-sm-12 col-md">
            <img src="{% static 'img/stopVilogo.gif' %}" alt="Stop Vi Public Foundation Logo"
                 class="img-fluid rounded-circle" width="30%">

            <div class="thin text-left">
                © 2018 {% trans 'Все права защищены.' %}
                <br>
                {% trans 'Общественный фонд “STOP Vi” 11 Ноября 2016г.' %}
                <br>
                {% trans 'Регистрационный номер' %}: 162559-3301-ОФ
                <br>
                {% trans 'ОКПО код' %}: 29760571
            </div>
        </div>

        <div class="col-sm-12 col-md offset-md-4">
            <div class=" h5 thin text-right">
                {% trans 'Общественный фонд “STOP Vi”' %}
                <br>
                {% trans 'Бишкек, Кыргызстан' %}
                <br>
                {% trans 'ул. Жибек-Жолу ' %}346
                <br>
                stopvi.kg@gmail.com
            </div>
            <div class="">
                <a class="d-inline" href="https://www.facebook.com/StopViKG/">
                    <img src="{% static 'img/fb.gif' %}" alt="" class="img-fluid float-right m-1" width="10%">
                </a>
                <a class="d-inline" href="https://www.youtube.com/channel/UCzeyACUAlOutwdCgMZ8yzRw">
                    <img src="{% static 'img/yt.gif' %}" alt=""
                         class="img-fluid float-right m-1" width="10%">
                </a>
            </div>
        </div>

    </div>

</footer>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>`