{% extends 'system/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}




    <div class=" block blue jumbotron startpage">
        <div class="row ">
            <div class="brd bg-fade col-sm-12 col-md-8 offset-md-2">
                <h1 class="display-3 text-center">{% trans 'ОСТАНОВИМ НАСИЛИЕ' %}</h1>
                <p class=" h5 col-sm-8 col-md-8 offset-md-2 text-uppercase">
                    {% trans 'Мы видим Кыргызстан, в котором высшей ценностью признается достоинство человека и право иметь жизнь, свободную от любой формы насилия.' %}
                </p>
            </div>
        </div>

    </div>

    <h1 class="white">{% trans 'О НАС' %}</h1>
    <div class="block white">
        <p class="desc h5 thin col-md-6 offset-md-3">

            {% blocktrans %}Общественный Фонд “Стоп Ви” – был создан с целью профилактики и предотвращения любой формы
                насилия при помощи образования и активного использования медиа.{% endblocktrans %}
        </p>
    </div>


    <div class="block white">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-left white">
                <div id="shape-2" class="text-left h1 blue"> {% trans 'НАША МИССИЯ:' %}</div>

                <div class="row">
                    <div class="col-sm-6  col-md-3">
                        <img class="img-fluid" src="{% static 'img/violence.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">
                        {% blocktrans %}Мы занимаемся профилактикой любого вида насилия посредством медиа кампаний и
                            активного информирования о проблемах насилия на медиа пространстве
                            Кыргызстана.{% endblocktrans %}
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img class="img-fluid" src="{% static 'img/education.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">
                        {% blocktrans %}Мы обучаем уязвимые слои населения Кыргызстане, находящиеся в группе риска,
                            практическим и жизненным навыкам.{% endblocktrans %}
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 h5 thin">
                        <img class="img-fluid" src="{% static 'img/content.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">

                        {% blocktrans %}Мы создаем контент с вдохновляющими историями для продвижения положительного
                            образа жизни без насилия.{% endblocktrans %}


                    </p>
                </div>
            </div>

            <div id="shape" class="col-sm-12 col-md-6 text-right blue">
                <div class="col">
                    <div class="text-right h1 text-uppercase">{% trans 'НАШИ ЦЕННОСТИ' %} :</div>
                    <p class="font-weight-bold h3">{% trans 'Всецелое развитие человека' %}.</p>
                    <p class="col-md-8 offset-md-4 h5 thin">

                        {% blocktrans %}Мы ценим всецелое развитие человека: духовное, эмоциональное, физическое и
                            интеллектуальное.{% endblocktrans %}

                    </p>
                </div>


                <div class="col">
                    <p class="font-weight-bold h3">{% trans 'Эмоциональное исцеление и восстановление' %}.</p>
                    <p class="col-md-8 offset-md-4 h5 thin ">
                        {% blocktrans %}Мы верим в эмоциональное исцеление и восстановление людей, переживших
                            насилие.{% endblocktrans %}

                    </p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">{% trans 'Раскрытие потенциала человека' %}.</p>
                    <p class="col-md-8 offset-md-4 h5 thin">

                        {% blocktrans %}Мы верим, что человек был создан Богом с неограниченным потенциалом, который мы
                            хотим помочь человеку раскрыть.{% endblocktrans %}


                    </p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">{% trans 'Равные возможности.' %}</p>
                    <p class="col-md-8 offset-md-4 h5 thin">
                        {% blocktrans %}Мы верим, все имеют право на равные возможности в обучении, развитии и
                            трудоустройстве{% endblocktrans %}


                    </p>
                </div>
            </div>
        </div>
    </div>


    <div>[РОЛИК]</div>


    <h1 class="blue">{% trans 'КАК МЫ РАБОТАЕМ:' %}</h1>
    <div class="block white">
        {% if LANGUAGE_CODE == 'ru' %}
            <img src="{% static 'img/stop-vi-ru.gif' %}" alt="" class="img-fluid">
        {% else %}
            <img src="{% static 'img/stop-vi-en.gif' %}" alt="" class="img-fluid">
        {% endif %}
    </div>


    <h1 class="blue">{% trans 'ГДЕ МЫ РАБОТАЕМ:' %}</h1>
    <div class="block blue">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'img/asia-map.gif' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <p class="thin">
                    {% trans 'Республика Кыргызстан находится в самом центре Средней Азии, большую часть занимают горные склоны. К сожалению, Кыргызстан является одной из самых бедных стран на территории СНГ. Более 30% населения живет за чертой бедности. Около половины работоспособного населения составляют мигранты. Ежегодно в республике совершается около 3000 преступлений против женщин, а также 12000 случаев воровства невест. А количество выпускников детских домов ежегодно составляет около 400 человек. Данным социальным проблемам уделяется мало внимания со стороны государства хотя они затрагивают самые уязвимые слои населения: сирот, женщин и детей.' %}

                </p>
            </div>
        </div>
    </div>

    <div class="full">
        <div class="white h4 text-center p-3">

            {% trans 'Общественный Фонд “Стоп Ви” – это некоммерческая организация, которая работает в Кыргызстане.' %}


        </div>
        <img class="img-fluid" src="{% static 'img/sv.jpg' %}">
        <div class="p-3 h4 white text-center">
            {% trans ' Благодаря работе нашей команды происходят положительные изменения в жизни тех, кто в этом больше всего нуждается.' %}

        </div>
    </div>

    <h1 class="blue">{% trans 'НАШИ ПРОЕКТЫ' %}</h1>
    <div class="block blue">

        <div class="row f">
            <div class="col-sm-12 offset-md-0 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/im-2.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name text-left text-uppercase h3">{% trans 'Медиа Школа для уязвимой молодежи' %}</div>
                <div class=" text-left ">
                    {% trans 'Общественный Фонд "Стоп Ви" проводит обучение для выпускников детских домов, преподавая им основные навыки СМИ. Молодые люди осваивают навыки фото, видео и журналистики, воплощая в жизнь свои идеи и развивая свои таланты. Также во время обучения мы говорим с ними о жизненных навыках и рисках.' %}

                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/vi-1.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-left text-uppercase">{% trans 'Школа по предотвращению насилия для местных активистов' %}


                </div>

                <div class=" text-left ">
                    {% trans 'Ежегодно в Кыргызстане происходит 2500 случаев насилия в отношении женщин и детей, такие как похищение невест, изнасилования и ранние браки (девочки младше 16 лет). Только 2 из 5 женщин обращаются в полицию. Для изменения этой ситуации мы начали проект "Школа по предотвращению насилия" для местных активистов, которые работают с жертвами насилия.' %}
                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12  col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/im-4.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-uppercase text-left">{% trans 'Медиа Студия' %}</div>

                <div class=" text-left ">

                    {% trans 'Миссия "Стоп Ви" заключается в повышении осведомленности, информировании, обучении и предотвращении насилия. С этой целью мы активно используем все современные ресурсы СМИ, создаем фото, видео и печатный материал, необходимый для информирования о проблеме насилия и способах получения помощи для пострадавших' %}

                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/sch-1.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-uppercase text-left">{% trans 'Лекции для старшеклассников' %}</div>

                <div class=" text-left ">
                    {% trans 'Наша команда волонтеров проводит лекции по предотвращению ранних браков и опасного поведения для учеников старших классов сельских школ Кыргызстана. Молодые люди получают мотивацию менять свое отношение к жизни, сосредотачиваться на развитии своих талантов, учатся избегать опасных ситуаций.' %}

                </div>
            </div>
        </div>
    </div>


    <h1 class="blue">{% trans 'МЕДИА БЛОГ:' %}</h1>

    <div class="block white">
        <div class="container">

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-1.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %} " width="25px">
                            {% trans 'Доклад' %}
                        </div>
                        <div class="block p-3">
                            <h4 class="">{% trans '"Вызывайте, когда будет убивать” от Хьюман Райтс Вотч.' %}</h4>
                            <p class="card-text">{% trans 'Реагирование государства на семейное насилие в Кыргызстане. 28 октября 2015 года' %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">{% trans 'Просмотреть' %}</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-12 d-flex">
                    <div class="card blue m-3 flex-column">
                        <img class="img-fluid p-1" src="{% static 'img/content.gif' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %}" width="25px">
                            {% trans 'Отчет' %}
                        </div>
                        <div class="p-3">
                            <h4 class="card-title">{% trans 'Отчет' %}</h4>
                            <p class="card-text">{% trans 'Отчет об исследовании судебной практики в Кыргызской Республике по преступлениям в отношении женщин и детей. 3 января 2018 года' %}
                            </p>
                        </div>
                        <div class="card-footer p-3">
                            <a href="#" class="btn btn-donate">{% trans 'Просмотреть' %}</a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">


                <div class="col-md col-sm-12 d-flex">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vi-4.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %} " width="25px">
                            {% trans 'Репортаж' %}
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">{% trans '“Домашнее насилие в Кыргызстане”' %}</h4>
                            <p class="card-text">{% trans 'Проблема насилия в семье была и остаётся ещё издревле. Сегодня мы выясним, как жители Бишкека относятся к этому.' %}.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">{% trans 'Узнать больше' %}></a>
                        </div>
                    </div>
                </div>


                <div class="col-md col-sm-12 d-flex">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-2.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/video.svg' %} " width="25px">
                            {% trans 'Репортаж' %}
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">{% trans '“Выпускники детских домов в Кыргызстане”' %}</h4>
                            <p class="card-text">

                                {% trans ' В этом репортаже мы расскажем вам о том, с какими проблемами сталкиваются выпускники детских домов Кыргызстана.' %}

                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">{% trans 'Просмотреть' %}</a>
                        </div>
                    </div>
                </div>


                <div class="col-md col-sm-12 d-flex">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-3.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/open-book.svg' %} " width="25px">
                            {% trans 'Видео' %}
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">{% trans '“Вор”' %}</h4>
                            <p class="card-text">{% trans 'Пришло время увидеть традицию воровства невест глазами парней. История молодого парня, погубившего судьбу случайной прохожей. Желание создать семью обернулось плохими последствиями...' %}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">{% trans 'Узнать больше' %} ></a>
                        </div>
                    </div>
                </div>


                <div class="col-md col-sm-12 d-flex">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-3.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %} " width="25px">
                            {% trans 'Документ' %}
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">{% trans 'ЗВОНИТЕ КОГДА БУДУТ УБИВАТЬ!' %}</h4>
                            <p class="card-text">{% trans 'Отчет Humans rights Watch 2015' %}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">{% trans 'Узнать больше' %} ></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


    <h1 class="blue">{% trans 'ЖИЗНЕННЫЕ ИСТОРИИ' %}:</h1>
    <div class="block white">


        <div class="row m-4">


            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <img class="img-fluid rounded" src="{% static 'img/microphone.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5 text-left">{% trans 'АНЯ' %}</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Impact Media"</div>
                            {% trans 'Школа Импакт медиа - это обучение чему-то новому, хорошие учителя, любящие то, чем занимаются. Импакт медиа - это запах свежей весны и съёмок в жару. Сложные и интересные задания и настоящие серьезные проекты на выпускной!На следующий год планирую поступать на Журналистику!' %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <img class="img-fluid rounded" src="{% static 'img/Photographer.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5 text-left">{% trans 'ВЛАД' %}</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Impact Media"</div>

                            {% trans 'Для меня обучение в школе Импакт Медиа был очень полезным опытом! Всегда с радостью посещал занятия, особенно мне нравилось работать с камерой, когда мы снимали блоги. Для этого сначала надо было самим придумать и прописать сценарий. И потом съемки и монтаж! Было круто! Сейчас я продолжаю развиваться в этой сфере, пишу сценарий к своему фильму.' %}

                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row m-4">

            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class="col-md-6 col-md">
                        <img class="img-fluid rounded" src="{% static 'img/law.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5">{% trans 'СВЕТЛАНА' %}</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Stop Vi School"</div>

                            {% trans 'Я работаю с социально уязвимыми женщинами, оказавшимися в ситуации риска и очень благодарна за возможность посещать ваши тренинги. Узнала много практической информации по проблеме насилия и помощи пострадавшим. В особенности пригодились юридические консультации' %}

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <img class="img-fluid rounded" src="{% static 'img/consultancy.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5 text-left">{% trans 'ЛАРИСА' %}</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Stop Vi School"</div>

                            {% trans 'Очень своевременные курсы! Я получила много практических знаний и теперь более уверенно чувствую себя, если ко мне обращаются по вопросам, связанным с насилием. К сожалению таких женщин меньше не становится' %}

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row m-4">


            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <img class="img-fluid rounded" src="{% static 'img/violence-home.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5 text-left">{% trans 'ЧИНАРА' %}</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Stop Vi School"</div>

                            {% trans 'Я сама пережила семейное насилие более 10 лет в моей семье. Я прошла очень болезненный процесс реабилитации и теперь хочу помогать тем, кто не видит выхода или боится что-то изменить в своей жизни. Курсы Школы Стоп Ви придали мне уверенности в том, что я приняла верное решение и что я могу получить достаточные знания для помощи другим' %}


                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md">
                <div class="row">
                    <div class=" col-sm-12 col-md ">
                        <img class="img-fluid rounded" src="{% static 'img/content.gif' %}">
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="name h5 text-left ">NAME</div>
                        <div class="story">
                            <div class="text-right  font-weight-bold h5">"Stop Vi School"</div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius id natus quis ut voluptates?
                            Animi consequatur deleniti dicta dolorum earum ex inventore minima natus, nobis quaerat quia
                            rerum ullam voluptas.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 id="end" class="white mt-2">{% trans 'ПОЖЕРТВОВАТЬ:' %}</h1>
    <div class="block m-0">

        <div class=" h5 blue p-3 mb-5">
            <img src="{% static 'img/heart.gif' %}" alt="" class="img-fluid col-md-1" width="30%">
            {% trans 'С вашей помощью, мы можем построить будущее без насилия в Кыргызстане' %}
        </div>
        <div class="row m-0">

            <div class="col-sm-12 col-md white m-1">
                <div class="d-inline">
                    <img class="img-fluid" src="{% static 'img/dollar.gif' %}" width="30%">
                </div>
                <div class="d-inline h3 p-2">USD</div>
                <table class="table ">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Intermediary Bank: JSCB TRANSKAPITALBANK</td>
                    </tr>
                    <tr>
                        <td>SWIFT: TJSCRUMM</td>
                    </tr>
                    <tr>
                        <td class="p-0">Account:<br> 3011 1840 4000 0000 0085</td>
                    </tr>
                    <tr>
                        <td>Beneficiary Bank: CJSC “BTA Bank”</td>
                    </tr>
                    <tr>
                        <td>Bishkek, Kyrgyzstan</td>
                    </tr>
                    <tr>
                        <td>SWIFT: EIMBKG 22</td>
                    </tr>
                    <tr>
                        <td>Beneficiary: ОФ "Стоп Ви"</td>
                    </tr>
                    <tr>
                        <td class="p-0">For account:<br> 1190 0310 0007 9459</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md white m-1">
                <div class="d-inline">
                    <img class="img-fluid" src="{% static 'img/euro.gif' %}" width="30%">
                </div>
                <div class="d-inline h3 p-2 ">EUR</div>
                <table class="table ">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Intermediary Bank: JSCB TRANSKAPITALBANK</td>
                    </tr>
                    <tr>
                        <td>SWIFT: TJSCRUMM</td>
                    </tr>
                    <tr>
                        <td class="p-0">Account:<br> 3011 1978 0000 0000 0085</td>
                    </tr>
                    <tr>
                        <td>Beneficiary Bank: CJSC “BTA Bank”</td>
                    </tr>
                    <tr>
                        <td>Bishkek, Kyrgyzstan</td>
                    </tr>
                    <tr>
                        <td>SWIFT: EIMBKG 22</td>
                    </tr>
                    <tr>
                        <td>Beneficiary: ОФ "Стоп Ви"</td>
                    </tr>
                    <tr>
                        <td class="p-0">For account:<br> 1190 0310 0007 9459</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md white m-1">
                <div class="d-inline">
                    <img class="img-fluid" src="{% static 'img/ruble.gif' %}" width="30%">
                </div>
                <div class="d-inline h3 p-2 ">RUB</div>
                <table class="table ">
                    <thead>
                    </thead>
                    <tbody>
                    <tr class="">
                        <td>ТКБ БАНК ПАО</td>
                    </tr>
                    <tr>
                        <td class="p-0">К/с № 3010 1810 8000 0000 0388 <br> ГУ Банка России по ЦФО</td>
                    </tr>
                    <tr>
                        <td class="p-1">БИК 044525388 <br>ИНН 7709129705<br> КПП 775001001</td>
                    </tr>
                    <tr>
                        <td>ЗАО «БТА Банк», Бишкек, Кыргызстан</td>
                    </tr>
                    <tr>
                        <td>SWIFT: EIMBKG 22</td>
                    </tr>
                    <tr>
                        <td class="p-0">№ Счета: <br> 3011 1810 1000 0000 0085</td>
                    </tr>
                    <tr>
                        <td class="p-0" >на счет получателя:<br> 1190 0310 0007 9459</td>
                    </tr>
                    <tr>
                        <td>получатель:  ОФ "Стоп Ви"</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md white m-1">
                <div class="d-inline">
                    <img class="img-fluid" src="{% static 'img/som.gif' %}" width="30%">
                </div>
                <div class="d-inline h3 p-2">KGS</div>
                <table class="table ">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ФЗАО «БТА Банк»</td>
                    </tr>
                    <tr>
                        <td>г. Бишкек</td>
                    </tr>
                    <tr>
                        <td>Кыргызстан</td>
                    </tr>
                    <tr>
                        <td>Мкр. Асанбай 8/2</td>
                    </tr>
                    <tr>
                        <td>БИК 119 003</td>
                    </tr>
                    <tr>
                        <td class="p-0">счет получателя: <br>1190 0310 0007 9459</td>
                    </tr>
                    <tr>
                        <td>получатель : ОФ "Стоп Ви"</td>
                    </tr>
                    <tr>
                        <td class="p-0">For account:<br> 1190 0310 0007 9459</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}

