{% extends 'system/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class=" block blue jumbotron startpage">

        <div class="row ">
            <div class="brd bg-fade col-sm-12 col-md-8 offset-md-2">
                <h1 class="display-3 text-center">ОСТАНОВИМ НАСИЛИЕ</h1>
                <p class=" h5 col-sm-8 col-md-8 offset-md-2 text-uppercase">Мы видим Кыргызстан, в котором высшей
                    ценностью признается
                    достоинство
                    человека и право
                    иметь жизнь,
                    свободную от
                    любой
                    формы
                    насилия.</p>
            </div>
        </div>
    </div>

    <h1 class="white">О НАС</h1>
    <div class="block white">
        <p class="desc h5 thin col-md-6 offset-md-3">
            Общественный Фонд “Стоп Ви” – был создан с целью профилактики и предотвращения любой формы насилия при
            помощи
            образования и активного использования медиа.</p>
    </div>
    <div class="block white">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-left white">
                <div id="shape-2" class="text-left h1 blue"> НАША МИССИЯ:</div>

                <div class="row">
                    <div class="col-sm-6  col-md-3">
                        <img class="img-fluid" src="{% static 'img/violence.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">Мы занимаемся профилактикой любого вида насилия посредством
                        медиа
                        кампаний и
                        активного
                        информирования о
                        проблемах насилия на медиа пространстве Кыргызстана.</p>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img class="img-fluid" src="{% static 'img/education.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">Мы обучаем уязвимые слои населения Кыргызстане, находящиеся в
                        группе
                        риска,
                        практическим и жизненным
                        навыкам.</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 h5 thin">
                        <img class="img-fluid" src="{% static 'img/content.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">
                        Мы создаем контент с вдохновляющими историями для продвижения положительного образа жизни без
                        насилия.</p>
                </div>
            </div>

            <div id="shape" class="col-sm-12 col-md-6 text-right blue">
                <div class="col">
                    <div class="text-right h1 text-uppercase"> НАШИ ЦЕННОСТИ:</div>
                    <p class="font-weight-bold h3">Всецелое развитие человека.</p>
                    <p class="col-md-8 offset-md-4 h5 thin">Мы ценим всецелое развитие человека: духовное,
                        эмоциональное, физическое и
                        интеллектуальное.</p>
                </div>


                <div class="col">
                    <p class="font-weight-bold h3">Эмоциональное исцеление и восстановление.</p>
                    <p class="col-md-8 offset-md-4 h5 thin "> Мы верим в эмоциональное исцеление и восстановление людей,
                        переживших
                        насилие.</p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">Раскрытие потенциала человека.</p>
                    <p class="col-md-8 offset-md-4 h5 thin"> Мы верим, что человек был создан Богом с неограниченным
                        потенциалом,
                        который мы
                        хотим
                        помочь человеку раскрыть.</p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">Равные возможности.</p>
                    <p class="col-md-8 offset-md-4 h5 thin"> Мы верим, все имеют право на равные возможности в обучении,
                        развитии и
                        трудоустройстве</p>
                </div>
            </div>
        </div>
    </div>



    <div>[РОЛИК]</div>



    <h1 class="blue">КАК МЫ РАБОТАЕМ:</h1>
    <div class="block white">
        <img src="{% static 'img/stop-vi-ru.gif' %}" alt="" class="img-fluid">
    </div>


    <h1 class="blue">ГДЕ МЫ РАБОТАЕМ:</h1>
    <div class="block blue">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'img/asia-map.gif' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <p class="thin">Республика Кыргызстан находится в самом центре Средней Азии, большую часть
                    занимают горные
                    склоны. К
                    сожалению,
                    Кыргызстан является одной из самых бедных стран на территории СНГ.
                    Более 30% населения живет за чертой бедности. Около половины работоспособного населения
                    составляют
                    мигранты.
                    Ежегодно в республике совершается около 3000 преступлений против женщин, а также 12000 случаев
                    воровства
                    невест.
                    А
                    количество выпускников детских домов ежегодно составляет около 400 человек. Данным социальным
                    проблемам
                    уделяется
                    мало внимания со стороны государства хотя они затрагивают самые уязвимые слои населения: сирот,
                    женщин и
                    детей.</p>
            </div>
        </div>
    </div>

    <div class="full">
        <div class="white h2 text-center">Общественный Фонд “Стоп Ви” – это некоммерческая организация, которая
            работает
            в
            Кыргызстане.
        </div>
        <img class="img-fluid" src="{% static 'img/sv-2.jpg' %}">
        <h2 class="white h2 text-center">Благодаря работе нашей команды происходят положительные изменения в жизни
            тех,
            кто в
            этом больше
            всего
            нуждается.</h2>
    </div>

    <h1 class="blue">НАШИ ПРОЕКТЫ</h1>
    <div class="block blue">

        <div class="row f">
            <div class="col-sm-12 offset-md-0 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/im-2.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name text-left text-uppercase h3">Медиа Школа для уязвимой молодежи</div>
                <div class=" text-left ">
                    Общественный Фонд "Стоп Ви" проводит обучение для выпускников детских домов, преподавая им основные
                    навыки СМИ. Молодые люди осваивают навыки фото, видео и журналистики, воплощая в жизнь свои идеи и
                    развивая свои таланты. Также во время обучения мы говорим с ними о жизненных навыках и рисках.
                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/vi-1.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-left text-uppercase">Школа по предотвращению насилия для местных активистов
                </div>

                <div class=" text-left ">
                    Ежегодно в Кыргызстане происходит 2500 случаев насилия в отношении женщин и детей, такие как
                    похищение
                    невест, изнасилования и ранние браки (девочки младше 16 лет). Только 2 из 5 женщин обращаются в
                    полицию.
                    Для изменения этой ситуации мы начали проект "Школа по предотвращению насилия" для местных
                    активистов,
                    которые работают с жертвами насилия.
                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12  col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/im-4.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-uppercase text-left">Медиа Студия</div>

                <div class=" text-left ">
                    Миссия "Стоп Ви" заключается в повышении осведомленности, информировании, обучении и
                    предотвращении
                    насилия. С этой целью мы активно используем все современные ресурсы СМИ, создаем фото, видео
                    и
                    печатный
                    материал, необходимый для информирования о проблеме насилия и способах получения помощи для
                    пострадавших
                </div>
            </div>
        </div>

        <div class="row f">
            <div class="col-sm-12 col-md-3 offset-md-1">
                <img class="img-fluid" src="{% static 'img/sch-1.jpg' %}">
            </div>
            <div class="col-sm-12 col-md-6 border-left">
                <div class="name h3 text-uppercase text-left">Лекции для старшеклассников</div>

                <div class=" text-left ">
                    Наша команда волонтеров проводит лекции по предотвращению ранних браков и опасного поведения
                    для
                    учеников старших классов сельских школ Кыргызстана. Молодые люди получают мотивацию менять
                    свое
                    отношение к жизни, сосредотачиваться на развитии своих талантов, учатся избегать опасных
                    ситуаций.
                </div>
            </div>
        </div>
    </div>







    <h1 class="blue">БЛОГ МЕДИА:</h1>

    <div class="block white">

        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="card blue m-3">
                    <img class="card-img-top" src="{% static 'img/vio-1.jpg' %}" alt="Card image cap">
                    <div class="glyph p-1">
                        <img src="{% static 'img/file.svg' %} " width="25px">
                        Статья
                    </div>
                    <div class="block p-3">
                        <h4 class="">ЗВОНИТЕ КОГДА БУДУТ УБИВАТЬ!</h4>
                        <p class="card-text">Отчет Human's rights Watch 2015</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-donate">Просмотреть</a>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-12 d-flex">
                <div class="card blue m-3 flex-column">
                    <img class="card-img-top" src="{% static 'img/content.gif' %}" alt="Card image cap">
                    <div class="glyph p-1">
                        <img src="{% static 'img/file.svg' %}" width="25px">
                        Статья
                    </div>
                    <div class="p-3">
                        <h4 class="card-title">Отчет</h4>
                        <p class="card-text">Отчет об изнасилованных женщинах за 2016-2017год.</p>
                    </div>
                    <div class="card-footer p-3">
                        <a href="#" class="btn btn-donate">Просмотреть</a>
                    </div>
                </div>
            </div>


        </div>

            <div class="row">
                <div class="col-md col-sm-12 ">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vi-4.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %} " width="25px">
                            Статья
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">Насилие над детьми!</h4>
                            <p class="card-text">Ты за или против?</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">Узнать больше ></a>
                        </div>
                    </div>
                </div>
                <div class="col-md col-sm-12">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-2.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/video.svg' %} " width="25px">
                            Видео
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">Насилие за 40!!</h4>
                            <p class="card-text">Отчет Human's rights Watch 2015adwdawdawdawd</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">Просмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="col-md col-sm-12">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-3.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/open-book.svg' %} " width="25px">
                            Отчет
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">Как пережить травму</h4>
                            <p class="card-text">Как пережить травму. Совет эксперта</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">Узнать больше ></a>
                        </div>
                    </div>
                </div>
                <div class="col-md col-sm-12">
                    <div class="card blue m-3">
                        <img class="card-img-top" src="{% static 'img/vio-3.jpg' %}" alt="Card image cap">
                        <div class="glyph p-1">
                            <img src="{% static 'img/file.svg' %} " width="25px">
                            Документ
                        </div>
                        <div class="card-block p-3">
                            <h4 class="card-title">ЗВОНИТЕ КОГДА БУДУТ УБИВАТЬ!</h4>
                            <p class="card-text">Отчет Human's rights Watch 2015</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-donate">Узнать больше ></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <h1 class="blue">ЖИЗНЕННЫЕ ИСТОРИИ:</h1>
        <div class="block white">
            <div class="row text-left">

                <div class="col-sm-12 col-md">
                    <div class="story">
                        Школа Импакт медиа - это обучение чему-то новому, хорошие учителя, любящие то,
                        чем
                        занимаются.
                        Импакт медиа - это запах свежей весны и съёмок в жару. Сложные и интересные задания и
                        настоящие
                        серьезные
                        проекты на выпускной! Мне очень пригодились навыки журналистики и фотографии в молодежном
                        проекте,
                        над
                        которым работаем сейчас. На следующий год планирую поступать на Журналистику!

                    </div>
                    <div class="name h4">АНЯ</div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="story">
                        Для меня обучение в школе Импакт Медиа был очень полезным опытом! Всегда с
                        радостью
                        посещал
                        занятия, особенно мне нравилось работать с камерой, когда мы снимали блоги. Для этого
                        сначала надо
                        было
                        самим придумать и прописать сценарий. И потом съемки и монтаж! Было круто! Сейчас я
                        продолжаю
                        развиваться в этой сфере, пишу сценарий к своему фильму.

                    </div>
                    <div class="name h4">ВЛАД</div>
                </div>


                <div class="col-sm-12 col-md">
                    <div class="story">
                        Я сама пережила семейное насилие более 10 лет в моей семье. Я прошла очень
                        болезненный
                        процесс
                        выхода из насилия и теперь хочу помогать тем, кто не видит выхода или боится что-то изменить
                        в своей
                        жизни.
                        Курсы Школы Стоп Ви придали мне уверенности в том, что я приняла верное решение и что я могу
                        получить
                        достаточные знания для помощи другим

                    </div>
                    <div class="name h4">ЧИНАРА (Школа Стоп Ви)</div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="story">
                        Я работаю с социально уязвимыми женщинами, оказавшимися в ситуации риска и
                        очень благодарна за возможность посещать ваши тренинги. Узнала много практической информации
                        по
                        проблеме
                        насилия и помощи пострадавшим. В особенности пригодились юридические консультации

                    </div>
                    <div class="name h4">СВЕТЛАНА (Школа Стоп Ви)</div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="story">
                        Очень своевременные курсы! Я получила много практических знаний и теперь более
                        уверенно чувствую себя, если ко мне обращаются по вопросам, связанным с насилием. К
                        сожалению таких
                        женщин
                        меньше не становится

                    </div>
                    <div class="name h4">ЛАРИСА (Школа Стоп Ви)</div>
                </div>

            </div>
        </div>

        <div id="end" class="h2">Пожертвовать:</div>
        <div class="block">

            <div class="container">
                <div class="flex-row d-flex align-items-stretch">
                    <div class="d-flex align-self-end btn-donate">12312313</div>
                    <div class=" d-flex btn-donate ite">123131313123232323</div>
                    <div class="d-flex btn-donate">123123123</div>
                </div>
            </div>

        </div>
{% endblock %}