{% extends 'system/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class=" block blue jumbotron startpage">

        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <h1 class="display-3 text-center">ОСТАНОВИМ НАСИЛИЕ</h1>
                <p class=" h5 text-uppercase">Мы видим Кыргызстан, в котором высшей
                    ценностью признается
                    достоинство
                    человека и право
                    иметь жизнь,
                    свободную от
                    любой
                    формы
                    насилия.</p>
            </div>
        </div>
    </div>

    <h1 class="white">О НАС</h1>
    <div class="block white">
        <p class="desc h5 thin col-md-6 offset-md-3">
            Общественный Фонд “Стоп Ви” – был создан с целью профилактики и предотвращения любой формы насилия при
            помощи
            образования и активного использования медиа.</p>
    </div>
    <div class="block white">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-left white">
                <div id="shape-2" class="text-left h1 blue"> НАША МИССИЯ:</div>

                <div class="row">
                    <div class="col-sm-6  col-md-3">
                        <img class="img-fluid" src="{% static 'img/violence.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">Мы занимаемся профилактикой любого вида насилия посредством медиа
                        кампаний и
                        активного
                        информирования о
                        проблемах насилия на медиа пространстве Кыргызстана.</p>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img class="img-fluid" src="{% static 'img/education.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">Мы обучаем уязвимые слои населения Кыргызстане, находящиеся в группе
                        риска,
                        практическим и жизненным
                        навыкам.</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 h5 thin">
                        <img class="img-fluid" src="{% static 'img/content.gif' %}">
                    </div>
                    <p class="col-sm-12 col-md-7 h5 thin">
                        Мы создаем контент с вдохновляющими историями для продвижения положительного образа жизни без
                        насилия.</p>
                </div>
            </div>

            <div id="shape" class="col-sm-12 col-md-6 text-right blue">
                <div class="col">
                    <div class="text-right h1 text-uppercase"> НАШИ ЦЕННОСТИ:</div>
                    <p class="font-weight-bold h3">Всецелое развитие человека.</p>
                    <p class="col-md-8 offset-md-4 h5 thin">Мы ценим всецелое развитие человека: духовное, эмоциональное, физическое и
                        интеллектуальное.</p>
                </div>


                <div class="col">
                    <p class="font-weight-bold h3">Эмоциональное исцеление и восстановление.</p>
                    <p class="col-md-8 offset-md-4 h5 thin "> Мы верим в эмоциональное исцеление и восстановление людей,
                        переживших
                        насилие.</p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">Раскрытие потенциала человека.</p>
                    <p class="col-md-8 offset-md-4 h5 thin"> Мы верим, что человек был создан Богом с неограниченным
                        потенциалом,
                        который мы
                        хотим
                        помочь человеку раскрыть.</p>
                </div>

                <div class="col">
                    <p class="font-weight-bold h3">Равные возможности.</p>
                    <p class="col-md-8 offset-md-4 h5 thin"> Мы верим, все имеют право на равные возможности в обучении,
                        развитии и
                        трудоустройстве</p>
                </div>
            </div>
        </div>
    </div>


    <div>[РОЛИК]</div>

    <h1 class="blue">КАК МЫ РАБОТАЕМ:</h1>
    <div class="block white">
        <img src="{% static 'img/stop-vi-ru.gif' %}" alt="" class="img-fluid">
    </div>


    <h1 class="blue">ГДЕ МЫ РАБОТАЕМ:</h1>
    <div class="block blue">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{% static 'img/asia-map.gif' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-6 text-center h5">
                <p class="thin">Республика Кыргызстан находится в самом центре Средней Азии, большую часть
                    занимают горные
                    склоны. К
                    сожалению,
                    Кыргызстан является одной из самых бедных стран на территории СНГ.
                    Более 30% населения живет за чертой бедности. Около половины работоспособного населения
                    составляют
                    мигранты.
                    Ежегодно в республике совершается около 3000 преступлений против женщин, а также 12000 случаев
                    воровства
                    невест.
                    А
                    количество выпускников детских домов ежегодно составляет около 400 человек. Данным социальным
                    проблемам
                    уделяется
                    мало внимания со стороны государства хотя они затрагивают самые уязвимые слои населения: сирот,
                    женщин и
                    детей.</p>
            </div>
        </div>
    </div>

    <div class="full">
        <div class="white h2 text-center">Общественный Фонд “Стоп Ви” – это некоммерческая организация, которая
            работает
            в
            Кыргызстане.
        </div>
        <img class="img" src="{% static 'img/sv-2.jpg' %}">
        <h2 class="white h2 text-center">Благодаря работе нашей команды происходят положительные изменения в жизни
            тех,
            кто в
            этом больше
            всего
            нуждается.</h2>
    </div>


    <h1 class="blue">БЛОГ МЕДИА:</h1>

    <div class="block blue">

        Видео репортажи:
        “Домашнее насилие в КР”
        “Выпускники детских домов”

        Соц. Ролики:
        “Вор”
        Видео – хьюман райтс вотч


        Отчет Хьюман Райтс Вотч? (PDF)


        Отчет об исследовании судебной практики в Кыргызской Республике по преступлениям в отношении женщин и
        детей
        (PDF)

    </div>


    <h1 class="blue">ЖИЗНЕННЫЕ ИСТОРИИ:</h1>
    <div class="block white">
        <div class="row text-left">

            <div class="col-sm-12 col-md">
                <div class="story h5">
                    Школа Импакт медиа - это обучение чему-то новому, хорошие учителя, любящие то,
                    чем
                    занимаются.
                    Импакт медиа - это запах свежей весны и съёмок в жару. Сложные и интересные задания и
                    настоящие
                    серьезные
                    проекты на выпускной! Мне очень пригодились навыки журналистики и фотографии в молодежном
                    проекте,
                    над
                    которым работаем сейчас. На следующий год планирую поступать на Журналистику!

                </div>
                <div class="name h4">АНЯ</div>
            </div>

            <div class="col-sm-12 col-md">
                <div class="story h5">
                    Для меня обучение в школе Импакт Медиа был очень полезным опытом! Всегда с
                    радостью
                    посещал
                    занятия, особенно мне нравилось работать с камерой, когда мы снимали блоги. Для этого
                    сначала надо
                    было
                    самим придумать и прописать сценарий. И потом съемки и монтаж! Было круто! Сейчас я
                    продолжаю
                    развиваться в этой сфере, пишу сценарий к своему фильму.

                </div>
                <div class="name h4">ВЛАД</div>
            </div>


            <div class="col-sm-12 col-md">
                <div class="story h5">
                    Я сама пережила семейное насилие более 10 лет в моей семье. Я прошла очень
                    болезненный
                    процесс
                    выхода из насилия и теперь хочу помогать тем, кто не видит выхода или боится что-то изменить
                    в своей
                    жизни.
                    Курсы Школы Стоп Ви придали мне уверенности в том, что я приняла верное решение и что я могу
                    получить
                    достаточные знания для помощи другим

                </div>
                <div class="name h4">ЧИНАРА (Школа Стоп Ви)</div>
            </div>

            <div class="col-sm-12 col-md">
                <div class="story h5">
                    Я работаю с социально уязвимыми женщинами, оказавшимися в ситуации риска и
                    очень благодарна за возможность посещать ваши тренинги. Узнала много практической информации
                    по
                    проблеме
                    насилия и помощи пострадавшим. В особенности пригодились юридические консультации

                </div>
                <div class="name h4">СВЕТЛАНА (Школа Стоп Ви)</div>
            </div>

            <div class="col-sm-12 col-md">
                <div class="story h5">
                    Очень своевременные курсы! Я получила много практических знаний и теперь более
                    уверенно чувствую себя, если ко мне обращаются по вопросам, связанным с насилием. К
                    сожалению таких
                    женщин
                    меньше не становится

                </div>
                <div class="name h4">ЛАРИСА (Школа Стоп Ви)</div>
            </div>


        </div>
    </div>

    <div id="end" class="h2">Пожертвовать:</div>
    <div class="block">

    </div>
{% endblock %}